<div class="container">
  <%= render "shared/header"%>
      <%# <div class="card bg-dark text-white">
        <svg class="bd-placeholder-img bd-placeholder-img-lg card-img" width="100%" height="270" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Card image"><title>Placeholder</title><rect fill="#868e96" width="100%" height="100%"/><text fill="#dee2e6" dy=".3em" x="50%" y="50%">Card image</text></svg>
          <div class="card-img-overlay">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text">Last updated 3 mins ago</p>
          </div>
      </div> %>
      <% if user_signed_in? %>
      <div class="p-3">
        <h4 class="font-italic">Posts</h4>
        <%= link_to 'New Post', new_post_path %>
      </div>
      <%end%>
</div>
<main role="main" class="container">
  <div class="row mb-5">
    <div class="col-md-8 blog-main">
      <div class="d-flex justify-content-around border-bottom">
        <h3 class="font-italic">新着記事</h3>
  
      </div>
      <br>
      <% @posts.each do |post| %>
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-8">
            <div class="card-body">
              <%= link_to post_path(post.id) do %>
              <h3 class="card-title text-body"><%= post.title %></h3>
              <p class="card-text"><small class="text-muted"><%=  l post.created_at %></small></p>
              <%=render 'shared/tag_list', tag_list: post.tag_list%>
            </div>
          </div>
        
          <% if post.image.attached? %>
            <div class="card-img-right flex-auto d-lg-block mb-3  ">
              <%= image_tag post.image, class: "card-img-top" %> 
            </div>
          <%end%>
      
        <%end%>
       </div>
      </div>
      <%end%>
      <div class="text-right">
           <a href="/posts/list" class="btn btn-primary">投稿一覧</a>
            </blockquote>
      </div><!-- /.blog-post -->
    </div><!-- /.blog-main -->
     <%= render "shared/side"%>
  </div><!-- /.row -->
</main>

<%= render "shared/footer"%>