<div class="container">
<%= render "shared/header"%>
<main role="main" class="container">
  <div class="row mb-5">
    <div class="col-md-8 blog-main">
      <h3 class="pb-3 mb-4 font-italic border-bottom">投稿記事</h3> 
        <% @posts.each do |post| %>
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><%= post.title %></h5>
                <p class="card-text"><small class="text-muted"><%=  l post.created_at %></small></p>
              </div>
            </div>
            <% if post.image.attached? %>
            <div class="col-md-4">
                <%= image_tag post.image, style: "width: 100% heigth: 250px;", class: "card-img-top" %>
            </div>
            <%end%>
          </div>
        </div>
        <%end%>
          <hr> 

          <div class="blog-post">
           
            </blockquote>
          
          </div><!-- /.blog-post -->

        </div><!-- /.blog-main -->
          
        <%= render "shared/side"%>
  </div><!-- /.row -->
</main>
 <%= paginate @posts %>
 <%= render "shared/footer"%>
 </div>