<div class="container">
<%= render "shared/header"%>

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
<p class="card-text"><small class="text-muted"><%=  l @post.created_at %></small></p>

<% @post.tag_list.each do |tag| %>
  <span class="badge badge-primary mr-1 p-2"><%= tag %></span>
<% end %>

<%= @post.body %>

<%= image_tag @post.image.variant(resize_to_fill:[800,600]).processed, class:'img-fluid' if @post.image.attached? %>

<%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Edit', edit_post_path(@post) %> 
<%= render "shared/side"%>
<%= render "shared/footer"%>
</div>
